.links {
  color: $textLink;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 1rem;

  a {
    color: $textLink;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .spacer {
    margin: 0 .25rem;
  }
}